@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@charset"UTF-8";

@media screen and (max-width: 766px){

  li {
    list-style: none;
  }

  body{
    margin: 0px;
  }

/* ハンバーガーメニュー */
  .fixcontainer{
    max-width: 100%;
    width: 750px;
    height: 30px;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row-reverse;
    background-image: url(../img/black.jpg);
    z-index: 999;
  }
  
  .fixcontainer img{
    margin-right: 10px;
    width: 28px;
    height: 20px;
    cursor: hand;
  }

  #nav {
    position: fixed;
    right: -350px;
    top: 30px;
    width: 270px;
    height: 100%;
    padding: 24px 24px 0 24px;
    background: #000;
    color: white;
    transition: transform 1s;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav li a {
    display: block;
    padding: 0.75rem 0;
    border-bottom: 1px solid #114d60;
    text-decoration: none;
    color: #fff;
}
#nav li a:hover {
    background: #81a0e0;
}

.show {
  transform: translate3d(-350px, 0, 0);
}
  
/* タイトル */
  .container{
    background-image: url(dubro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    max-width: 100%;
    width: 100%;
    /* height: 40vh; */
    height: 35%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    
    .info{
     max-width: 100%;
     width: 80%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    
    .info h1{
      color: rgb(255, 255, 255);
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 3.4vw;
    }

    .info p{
      max-width: 100%;
      color: white;
      font-size: 0.1vw;
    }
  

  .menubox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0px;
    max-width: 100%;
    height: 48px;
  }
  
  .menubox > li{
    list-style: none;
    font-size: 15px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
  
  .menubox > li > a{
    color: #81a0e0;
    text-decoration: none;
  }

  .mainbrock{
    margin-top: 10%;
  }
  
  .nation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    letter-spacing: 1px;
  }
  
  .nation img {
    width: 100%;
    height: 60%;
  }

  .nations{
    max-width: 43%;
    height: 15em;
    margin: 0.5%;
    border: outset #a8abc9 2px;
  }
  
  .nations h3{
    height: 30%;
    font-size: 0.9em;
    color: rgb(99, 93, 93);
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  
  /* h3が上に動くアニメーョン */
  .nations {
    -webkit-transform: translate(0);
    transform: translate(0) ;
    -webkit-transition: .3s ease-in-out;
    transition: .4s ease-in-out;
  }
  .nations:hover {
    -webkit-transform: translateY(-10px) scale(1);
    transform: translateY(-10px) scale(1);
    opacity: 0.5;
  }
  
  /* https://ao-system.net/javascript/code/1002/ */
  /* text-align: center;でなぜ真ん中にいかないのか */
  #toggleMenuButton{
    
  }
  
  #toggleMenu{
    overflow:hidden;
    transition: all 0.4s;
  }

  .toggleMenu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

    /* プロフィールのCSSです */

    .profintroduce{
      border: outset #a8abc9 2px;
      padding: 60px;
    }
  
    .profintroduce h2{
      margin-top: 0;
      color: #81a0e0;
      font-size: 38px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  
    .profintroduce p{
      margin-bottom: 50px;
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 20px;
    }
  
    /* お問い合わせフォームです */
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: outset #a8abc9 2px;
      font-size: 25px;
    }
  
    .forms{
      margin-top: 50px;
      margin-bottom: 50px;
    }
  
    .formss {
      width: 350px;
      height: 40px;
    }
  
    .inquiryform{
      width: 350px;
      height: 200px;
    }
  
    .btn-submit{
      width: 100px;
    }
  

  .rightbrock{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profbox{
    max-width: 80%;
    height: auto;
    margin-top: 100px;
    border: outset #a8abc9 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .kanta{
    border-radius: 50%;
    margin-top: 20%;
  }

  .profname{
    margin-top: 1%;
  }
  
  .profintro{
    width: 80%;
    margin-top: 2em;
    margin-bottom:2em;
    color: rgb(99, 93, 93);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 1px;

  }
  
  .snsmenu{
    max-width: 100%;
    width: 100%;
    height: 6em;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }
  
  .snsimages {

  }
  
  .instabox{
    max-width: 100%;
    margin-top: 7em;
  }

}

/* ここからPC用デザイン */

@media screen and (min-width :767px){

  li {
    list-style: none;
  }

  body{
    margin: 0;
  }

  /* ハンバーガーメニュー */
  .fixcontainer{
    max-width: 100%;
    width: 100%;
    height: 30px;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row-reverse;
    background-image: url(../img/black.jpg);
    z-index: 999;
  }
  
  .fixcontainer img{
    margin-right: 10px;
    width: 28px;
    height: 20px;
    cursor: hand;
  }

  #nav {
    position: fixed;
    right: -350px;
    top: 30px;
    width: 270px;
    height: 100%;
    padding: 24px 24px 0 24px;
    background: #000;
    color: white;
    transition: transform 1s;
}
#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav li a {
    display: block;
    padding: 0.75rem 0;
    border-bottom: 1px solid #114d60;
    text-decoration: none;
    color: #fff;
}
#nav li a:hover {
    background: #81a0e0;
}

.show {
  transform: translate3d(-350px, 0, 0);
}


  
  .container{
    background-image: url(dubro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    max-width: 100%;
    width: 100%;
    /* height: 40vh; */
    height: 60%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    
    .info{
     max-width: 100%;
     width: 60%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    
    .info h1{
      color: rgb(255, 255, 255);
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 2.5vw;
    }

    .info p{
      max-width: 100%;
      color: white;
      font-size: 1vw;
    }
  
  .menubox1{
    width: 64%;
  }

  .menubox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 48px;
    padding-left: 0px;
  }
  
  .menubox > li{
    list-style: none;
    font-size: 27px;
    padding-left: 1%;
    padding-right: 1%;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
  
  .menubox > li > a{
    color: #81a0e0;
    text-decoration: none;
  }

  .mainpages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mainbrock{
    width: 750px;
  }
  
  .nation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 1px;
  }
  
  .nation img {
    width: 100%;
    height: 60%;
  }

  .nations{
    max-width: 340px;
    height: 310px;
    margin: 10px;
    border: outset #a8abc9 2px;
  }

  .nations a{
    text-decoration: none;
  }
  
  .nations h3{
    height: 30%;
    font-size: 20px;
    color: rgb(99, 93, 93);
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  
  /* h3が上に動くアニメーョン */
  .nations {
    -webkit-transform: translate(0);
    transform: translate(0) ;
    -webkit-transition: .3s ease-in-out;
    transition: .4s ease-in-out;
  }
  .nations:hover {
    -webkit-transform: translateY(-10px) scale(1);
    transform: translateY(-10px) scale(1);
    opacity: 0.5;
  }
  
  /* https://ao-system.net/javascript/code/1002/ */
  /* text-align: center;でなぜ真ん中にいかないのか */


  #toggleMenu{
    overflow:hidden;
    transition: all 0.4s;
  }

  .toggleMenu{
    margin-left: 1.4%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  /* プロフィールのCSSです */

  .profintroduce{
    border: outset #a8abc9 2px;
    padding: 60px;
  }

  .profintroduce h2{
    margin-top: 0;
    color: #81a0e0;
    font-size: 38px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

  .profintroduce p{
    margin-bottom: 50px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
  }

  /* お問い合わせフォームです */
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: outset #a8abc9 2px;
    font-size: 25px;
  }

  .forms{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .formss {
    width: 350px;
    height: 40px;
  }

  .inquiryform{
    width: 350px;
    height: 200px;
  }

  .btn-submit{
    width: 100px;
  }

  /* 右側のページです */
  .rightbrock{
    width: 350px;
    margin-left: 50px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
  }

  .profbox{
    margin-top: 85px;
    height: 500px;
    border: outset #a8abc9 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .kanta{
    border-radius: 50%;
    margin-top: 20%;
  }

  .profname{
    margin-top: 1%;
  }
  
  .profintro{
    width: 80%;
    margin-top: 2em;
    margin-bottom:2em;
    color: rgb(99, 93, 93);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 1px;
  }
  
  .snsmenu{
    width: 100%;
    height: 100%;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }
  
  .snsimages {

  }
  
  .instabox{
    max-width: 100%;
    margin-top: 7em;
  }

  .count-down{
    max-width: 100%;
    height: 300px;
    margin-top: 40%;
    padding-left: 5%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border: outset #a8abc9 2px;
  }

  .count-down h4 {
    font-size: 25px;
    color: #81a0e0;
  }

  .count-down p{
    font-size: 30px;
  }

}