@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
@charset"UTF-8";

@media screen and (max-width: 766px){

  li {
    list-style: none;
  }
  
  .container{
    background-image: url(../../CSS/dubro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    max-width: 100%;
    width: 100%;
    /* height: 40vh; */
    height: 30%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    
    .info{
     max-width: 100%;
     width: 80%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    
    .info h1{
      color: rgb(255, 255, 255);
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 3.4vw;
    }

    .info p{
      max-width: 100%;
      color: white;
      font-size: 0.1vw;
    }
  

  .menubox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0px;
    max-width: 100%;
    height: 48px;
  }
  
  .menubox > li{
    list-style: none;
    font-size: 18px;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
  
  .menubox > li > a{
    color: #81a0e0;
    text-decoration: none;
  }

  .mainbrock{
    margin-top: 10%;
  }
  
  .nation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    letter-spacing: 1px;
  }
  
  .nation img {
    width: 100%;
    height: 60%;
  }

  .nations{
    max-width: 43%;
    height: 15em;
    margin: 0.5%;
    border: outset #a8abc9 2px;
  }
  
  .nations h3{
    height: 30%;
    font-size: 0.9em;
    color: rgb(99, 93, 93);
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  
  /* h3が上に動くアニメーョン */
  .nations {
    -webkit-transform: translate(0);
    transform: translate(0) ;
    -webkit-transition: .3s ease-in-out;
    transition: .4s ease-in-out;
  }
  .nations:hover {
    -webkit-transform: translateY(-10px) scale(1);
    transform: translateY(-10px) scale(1);
    opacity: 0.5;
  }
  
  /* https://ao-system.net/javascript/code/1002/ */
  /* text-align: center;でなぜ真ん中にいかないのか */
  #toggleMenuButton{
    
  }
  
  #toggleMenu{
    overflow:hidden;
    transition: all 0.4s;
  }

  .toggleMenu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .rightbrock{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profbox{
    max-width: 80%;
    height: auto;
    margin-top: 100px;
    border: outset #a8abc9 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .kanta{
    border-radius: 50%;
    margin-top: 20%;
  }

  .profname{
    margin-top: 1%;
  }
  
  .profintro{
    width: 80%;
    margin-top: 2em;
    margin-bottom:2em;
    color: rgb(99, 93, 93);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 1px;

  }
  
  .snsmenu{
    max-width: 100%;
    width: 100%;
    height: 6em;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }
  
  .snsimages {

  }
  
  .instabox{
    max-width: 100%;
    margin-top: 7em;
  }

}

/* ここからPC用デザイン */

@media screen and (min-width :767px){

  li {
    list-style: none;
  }
  
  .container{
    background-image: url(../../CSS/dubro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    max-width: 100%;
    width: 100%;
    /* height: 40vh; */
    height: 60%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    
    .info{
     max-width: 100%;
     width: 60%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }
    
    .info h1{
      color: rgb(255, 255, 255);
      font-family: 'M PLUS Rounded 1c', sans-serif;
      font-size: 2.5vw;
    }

    .info p{
      max-width: 100%;
      color: white;
      font-size: 1vw;
    }
  
  .menubox1{
    width: 64%;
  }

  .menubox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 48px;
    padding-left: 0px;
  }
  
  .menubox > li{
    list-style: none;
    font-size: 27px;
    padding-left: 1%;
    padding-right: 1%;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
  }
  
  .menubox > li > a{
    color: #81a0e0;
    text-decoration: none;
  }

  .mainpages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mainbrock{
    width: 750px;
  }
  
  .nation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 1px;
  }
  
  .nation img {
    width: 100%;
    height: 60%;
  }

  .nations{
    width: 340px;
    height: 310px;
    margin: 10px;
    border: outset #a8abc9 2px;
  }

  .nations a{
    text-decoration: none;
  }
  
  .nations h3{
    height: 30%;
    font-size: 20px;
    color: rgb(99, 93, 93);
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  
  /* h3が上に動くアニメーョン */
  .nations {
    -webkit-transform: translate(0);
    transform: translate(0) ;
    -webkit-transition: .3s ease-in-out;
    transition: .4s ease-in-out;
  }
  .nations:hover {
    -webkit-transform: translateY(-10px) scale(1);
    transform: translateY(-10px) scale(1);
    opacity: 0.5;
  }
  
  /* https://ao-system.net/javascript/code/1002/ */
  /* text-align: center;でなぜ真ん中にいかないのか */



  #toggleMenu{
    overflow:hidden;
    transition: all 0.4s;
  }

  .toggleMenu{
    margin-left: 1.4%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .rightbrock{
    width: 350px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profbox{
    margin-top: 85px;
    height: 500px;
    border: outset #a8abc9 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .kanta{
    border-radius: 50%;
    margin-top: 20%;
  }

  .profname{
    margin-top: 1%;
  }
  
  .profintro{
    width: 80%;
    margin-top: 2em;
    margin-bottom:2em;
    color: rgb(99, 93, 93);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 1px;
  }
  
  .snsmenu{
    width: 100%;
    height: 100%;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
  }
  
  .snsimages {

  }
  
  .instabox{
    max-width: 100%;
    margin-top: 7em;
  }

}